@{
    ViewBag.Title = "MVC-3 Demo Home Page";
}

<h2>@ViewBag.Message</h2>

<p>
    This link displays a view controlled by a controller <a href="/HelloWorld" title="Hello World">Hello World!</a>
</p>
<p>
    This link displays a view with parameter of name passed in (using Rich) <a href="/HelloWorld/ParameterPass?name=Rich" title="Parameter Pass">Paramater Pass</a>
</p>
<p> 
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
